RewriteEngine On
RewriteBase /

# Nếu tệp tin hoặc thư mục tồn tại thật thì cho truy cập thẳng không rewrite
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Chuyển hướng các request ảo về index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]